<%= form_for @insect do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :characteristic %>
    <%= f.text_field :characteristic %>
  </p>
  <p>
    <%= f.submit 'Update insect' %>
  </p>

<% end %>